<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <appSettings>
    <!--<add key="DbConnectionString" value="Provider=SQLOLEDB;Data Source=;User ID=;Pwd=;Initial Catalog="/>-->        
    <add key="DbConnectionString" value="Data Source=127.0.0.1;User ID=;Password=;Initial Catalog=dbname"/>    
    <add key="ComPort" value="COM7"/>
    <add key="TimerIntervals" value="30"/>
  </appSettings>
</configuration>
